head
	title= "Senney.Net Minecraft"
	link(href='http://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
	link(rel="stylesheet", href="MainStyles.css", type='text/css')
	script(type="text/javascript", src="./prototype.js")
	script(type="text/javascript")
		var pu = undefined;
	
		// Scroll the textarea to the bottom.
		window.onload=function() {
			ScrollDown();
			StartUpdate();
		};
		
		window.StopUpdate = function() {
			pu.stop();
		}
		
		window.StartUpdate = function() {
			if (pu) {
				pu.start();
			} else {
				pu = new Ajax.PeriodicalUpdater('logArea', '/Log', {
					method: 'get', frequency: 5, decay: 0,
					onSuccess: function() {
						setTimeout(window.ScrollDown, 30);
					}
				});
			}
		}
		
		window.ScrollDown = function() {
			document.getElementsByName('log')[0].scrollTop = 99999;
		}