#loginBox
	form(action="/Login/", method="post")
		p Username
		input.iBox(type="text", name="uname")
		p Password
		input.iBox(type="password", name="pword")
		br
		input(type="submit", name="sub", value="Login")