html
	head
		title= "Senney.Net Minecraft"
		link(rel="stylesheet", href="MainStyles.css")
		script(type="text/javascript")
			// Scroll the textarea to the bottom.
			window.onload=function() {
				document.getElementsByName('log')[0].scrollTop=document.getElementsByName('log')[0].scrollHeight;
			};
	body
		.pageContainer
			.wrapper
				include Log
				="Broadcast a Message"
				form(action = "/Panel/Message", method="post")
					input#message(name = "message")
					input(type="submit")
				="Send a Command"
				form(action = "/Panel/Command", method="post")
					input#command(name = "command")
					input(type="submit")