html
	head
		title= "Senney.Net Minecraft"
		link(rel="stylesheet", href="MainStyles.css")
		script(type="text/javascript")
			// Scroll the textarea to the bottom.
			window.onload=function() {
				document.getElementsByName('log')[0].scrollTop=document.getElementsByName('log')[0].scrollHeight;
			};
	body
		.pageContainer
			.wrapper
				include Log
				#container	
					include AdminPanel
					include Stats